h1{
	color: orange;
	background: #e6e6fa;
}

ul{
	background-color: #f5fffa;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

ul em{
	font-weight: bold;
	font-weight: italic;
	text-decoration: underline;
}

ul > li{
	border-style: inset;
}

[id^="mv"] {
	color: orange;
}

.data {
	font-size: 120%;
	color: black !important;
}


.ateitis{
	color:red;
}
